<div class="menu-holder" (click)="dummy($event)">
  <div class="menu-header"><a href="#" (click)="closeMenu()"><i class="icon ion-ios-arrow-thin-left"></i></a> Search</div>
  <ul>
    <li><i class="icon ion-ios-pulse"></i><a href="#" (click)="menuClick()" role="button"><strong>Specialist</strong> or <strong>Practice</strong> <i class="icon ion-chevron-right"></i></a></li>
    <li><i class="icon ion-ios-location-outline"></i><a href="#" (click)="menuClick()" role="button">In <strong>Location</strong> <i class="icon ion-chevron-right"></i></a></li>
    <li><i class="icon ion-ios-paper-outline"></i><a href="#" (click)="menuClick()" role="button">Via any <strong>insurer</strong> <i class="icon ion-chevron-right"></i></a></li>
  </ul>
  <div class="bottom-btn-set">
    <div class="btns-holder clearfix">
      <div class="btn-holder"><a class="btn btn-default btn-lg" href="#" role="button">Clear</a></div>
      <div class="btn-holder"><a class="btn btn-primary btn-lg" href="#" role="button">Apply</a></div>
    </div>
  </div>
</div>

<div class="menu-second-holder" (click)="dummy($event)">
  <div class="menu-header"><a href="#" (click)="secondClose()"><i class="icon ion-ios-arrow-thin-left"></i></a> Specialist or Practice</div>
  <ul>
    <li><a class="" href="#" role="button">Test 1</a></li>
    <li><a class="" href="#" role="button">Test 2</a></li>
    <li><a class="" href="#" role="button">Test 3</a></li>
  </ul>
</div>