html, body{
  font-family: Arial, Helvetica, sans-serif;
}

html, body, app, main {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
}

span.active {
  background-color: gray;
}

@font-face {
  font-family: 'Big Header Font';
  src: url('assets/fonts/Graphik-Extralight.eot');
  src: url('assets/fonts/Graphik-Extralight.woff2') format('woff2'),
       url('assets/fonts/Graphik-Extralight.woff') format('woff'),
       url('assets/fonts/Graphik-Extralight.ttf') format('truetype'),
       url('assets/fonts/Graphik-Extralight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jumbotron Note';
  src: url('assets/fonts/Raleway-Medium.eot');
  src: url('assets/fonts/Raleway-Medium.woff2') format('woff2'),
       url('assets/fonts/Raleway-Medium.woff') format('woff'),
       url('assets/fonts/Raleway-Medium.ttf') format('truetype'),
       url('assets/fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Menu Header';
  src: url('assets/fonts/Raleway-Medium.eot');
  src: url('assets/fonts/Raleway-Medium.woff2') format('woff2'),
       url('assets/fonts/Raleway-Medium.woff') format('woff'),
       url('assets/fonts/Raleway-Medium.ttf') format('truetype'),
       url('assets/fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Menu Items';
  src: url('assets/fonts/Raleway-Light.eot');
  src: url('assets/fonts/Raleway-Light.woff2') format('woff2'),
       url('assets/fonts/Raleway-Light.woff') format('woff'),
       url('assets/fonts/Raleway-Light.ttf') format('truetype'),
       url('assets/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Menu Items Strong';
  src: url('assets/fonts/Raleway-Regular.eot');
  src: url('assets/fonts/Raleway-Regular.woff2') format('woff2'),
       url('assets/fonts/Raleway-Regular.woff') format('woff'),
       url('assets/fonts/Raleway-Regular.ttf') format('truetype'),
       url('assets/fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}