<div class="jumbotron jumbo">
  <div class="shadow-layer">
    <div class="container">
      <h1>Managing your health has never been easier.</h1>
      <p><i class="icon ion-ios-arrow-thin-down"></i> <strong>Search</strong>, <strong>Compare</strong> and <strong>Book</strong> a healthcare specialist.</p>
    </div>
    <div class="bottom-btn"><a class="btn btn-primary btn-lg" href="#" role="button"><i class="icon ion-ios-search"></i> Find a Specialist</a></div>
  </div>
</div>
<div class="custom-bottom-btn"><a class="btn btn-primary btn-lg" href="#" role="button"><i class="icon ion-ios-search"></i> Find a Specialist</a></div>
